<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='editar.css') }}">
</head>
<body style="background-image: url('{{ url_for('static', filename='Stone-01.jpg') }}'); 
             background-size: cover; 
             background-position: center; 
             background-repeat: no-repeat; 
             height: 100vh;">
    <header>
        <div class="logo-container">
            <span class="logo-text">stone stock</span>
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
        </div>
        <nav>
            <a href="/cliente" class="nav-link">Cadastrar cliente</a>
            <a href="/produto" class="nav-link">Cadastrar produto</a>
            <a href="/vendas" class="nav-link">Vendas</a>
            <a href="/pedido" class="nav-link">Pedidos</a>
            <a href="/grafico" class="nav-link">Relatórios</a>
            <a class="logout-btn" onclick="window.location.href='/perf_usuario'">
                <img src="{{url_for('static', filename='perfil.png')}}" alt="Logout" class="-usericon">
                
            </a>
        </nav>
    </header>
    <div class="container">
        <h2>Editar Produto</h2>
        <form action="/atualizar_produto/{{ produto[0] }}" method="post">
            <label for="nome_cliente">Nome:</label>
            <input type="text" id="nome_cliente" name="nome_cliente" value="{{ produto[1] }}" required>
            
            <label for="modelo">Modelo:</label>
            <input type="text" id="modelo" name="modelo" value="{{ produto[2] }}" required>
            
            <label for="quantidade">Quantidade:</label>
            <input type="number" id="quantidade" name="quantidade" value="{{ produto[3] }}" required>
            
            <button type="submit">Atualizar Produto</button>
        </form>
    </div>
</body>
</html>
