<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stone Stock Login</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>
    <div class="container">
        <div class="image-section">
            <img src="{{ url_for('static', filename='machine_card_02aa708266.webp') }}" alt="">
        </div>
        <div class="login-section">
            <div class="header">
                <h1 class="title">Stone Stock</h1>
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
            </div>
            <h2>Realize o login para acessar:</h2>
            <form action="/login" method="post">
                <div class="textbox">
                    <input id="usuario" type="email" placeholder="Usuário" name="email">
                </div>
                <div class="textbox">
                    <input id="senha" type="password" placeholder="Senha" name="senha">
                </div>
                <div class= "btn">
                <input id="logar" type="submit" value="Entrar" class="enviar">
            </form>
            
        </div>
    </div>
</body>

</html>